span, tbody, tfoot, thead, td, th, div {}
table {margin-bottom: 0em;}
body {
  background: #FFFFFF; 
  font-family: Song,Georgia,Times,serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height:1.4em;
}
table, tr, td, th { vertical-align: top; background: #FFFFFF; background-color: #FFFFFF;}
.fullpage { min-height: 90%;}
.editable { background-color: yellow; }
.nonlink { text-decoration:none;color:black; }
.container {
  min-height: 525px;
}
.underline_on_hover:hover {
 text-decoration:underline;
}

.green { color: #1dc30c;}
.red { color: #9c1010;}
.link { color: blue; text-decoration: underline;}
.even { background-color: #FFFFFF; }
.odd { background-color: #F7F7F7; }
.bold { font-weight: bold; }

tr.top {
  border-top: 1px solid #DDDDDD;
}
tr.even td {
  background-color: #FFFFFF; 
  border-bottom: 1px solid #DDDDDD;
}
tr.odd td {
  background-color: #F7F7F7; 
  border-bottom: 1px solid #DDDDDD;
}
.archive-date {
  color: #9c1010;
  font-size:0.6em;
}






.adso {
}
.adso_editing_instructions {
 font-size:8pt;
 font-style:bold;
}
.adso_add_source {
 font-size: 14pt;
 font-weight: bold;
 border: 0pt;
 background-color: lightyellow;
 margin-bottom: 8px;
 margin-top: 8px;
}
.adso_add_translation {
 font-size: 12pt;
 border: 1px dotted gray;
 background-color: lightyellow;
 margin-bottom: 8px;
}
.editor {
 width:100%;
}
.row_1 {
 font-size:30px;
 margin-top:4px;
 margin-bottom:5px;
}
.row_2 {
 font-size:25px;
 margin-bottom:5px;
}
.row_3 {
 font-size:22px;
 margin-bottom: 5px;
}
.row_4 {
 font-size:20pt;
 margin-bottom: 5px;
}
.row_5 {
 font-size:14pt;
 margin-bottom: 5px;
}
.row_6 {
 display: none;
 visibility: hidden;
}
#dhtmltooltip {
 position: absolute;
 width: auto;
 height: auto;
 max-width: 300px;
 border: 1px solid black;
 padding: 8px;
 background-color: lightyellow;
 line-height: 200%;
 visibility: hidden;
 z-index: 1003;
}
#adso_pointer {
 visibility: hidden;
 position: absolute;
 width: auto;
 height: auto;
 max-width: 300px;
 border: 1px solid black;
 padding: 5px;
 background-color: lightyellow;
 z-index: 1004;
}
span.adso:hover {
 background-color: white;
}








.check-list {
  list-style-image: url("/img/icons/check.png");
}







.comment {
  border-top: 1px solid #DDDDDD;
  padding: 8px;
  font-size: 0.8em;
}
.comment_container {
  margin-top: 20px;
}
.comment_datetime {
  display: inline;
  color: #9c1010;
}
.comment_title {
  display: inline;
}
.comment_userline {
  line-height: 1.5em;
  margin-bottom: 5px;
}
.comment_username {
  display: inline;
  color: #9c1010;
  font-weight: bold;
}
.comment_username a {
  text-decoration: none;
  text-weight: bold;
  color: #9c1010;
}








.community {
}
.community th {
  font-size: 0.8em;
  font-weight: normal;
  color: #888888;
}
.community td a {
  text-decoration: none;
  color: #222222;
}
.community td a:hover {
  text-decoration: underline;
  color: #9c1010;
}








.dictionary_search {
  padding: 5px;
}
.dictionary_search_results {
  margin-top: 20px;
  border-top: 1px solid #DDDDDD;
}





.file_download {
  margin-bottom: 20px;
  font-size: 0.9em;
}
.file_download a {
  text-decoration: none;
  color: #000000;
}
.file_download_photo {
  float: left;
  margin-right: 10px;
  width: 80px;
  text-align: left;
  text-valign: middle;
  height: 90px;
}
.file_download_text {
  height: 100px;
}







.flashcards_top_padding {
  height: 20px;
}
.flashcards_active_field {
  width: 100%;
  text-align: center;
  color: #9c1010;
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 25px;
}
.flashcards_inactive_field {
  width: 100%;
  text-align: center;
  color: #000000;
  font-style: bold;
  font-size: 1.5em;
  font-style: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}
.flashcards_center_center {
  background: #FFFFFF url(/img/flashcards/center.jpg);
  height: 227px;
  width: 384px;
}
















.footer {
  width: 100%;
  height: 30px;
  text-align:center;
  background: #FFFFFF;
  font-size: 0.7em;
}

























.header {
  width: 100%;
  height: 73px;
  background: #FFFFFF;
}
.header a {
  color: #888888;
  text-decoration: none;
}
.header_login {
  float: right;
  text-align: right;
  height: 73px;
  width: 432px;
}
.header_login_link {
  float: right;
  text-align: right;
}
.header_login_fields {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  visibility: hidden;
}
.header_login_submit {
  margin-right: 5px;
  margin-bottom: 15px;
}
.header_login_label {
  font-size: 0.8em;
  display: inline;
}
.header_left {
  float: left;
}
.header_left_link {
  float: left;
  margin-right: 45px;
  font-weight: bold;
  text-decoration: none;
  color: #888888;
}
.header_right {
  float: right;
}
.header_menu {
  display:block;
  margin-bottom: 0px;
  font-size: 18pt;
  font-family: Georgia;
}
.header_menu_link_active {
  color: #9c1010;
}
.header_menu_link {
  text-transform: uppercase;
  display: inline;
  font-size: 1em;
  margin-left:  20px;
  margin-right: 20px;
  vertical-align: bottom;
  font-weight: bold;
}




.lesson_dialogue_sentence {
  margin-bottom: 20px;
}
.lesson_dialogue_player {
  width: 20px;
  height: 20px;
}
.lesson_dialogue_sentence_text {
  font-size: 18pt;
  width: 490px;
  text-align: left;
}
.lesson_dialogue_speaker_text {
  font-size: 18pt;
  width: 60px;
}
.lesson_dialogue_speaker_pinyin {
  font-size: 14pt;
}
.lesson_dialogue_sentence_pinyin {
  font-size: 14pt;
}
.lesson_dialogue_speaker_translation {
  font-size: 16pt;
}
.lesson_dialogue_sentence_translation {
  font-size: 16pt;
}
.lesson_dialogue_editor {
  width: 100%;
}
.lesson_dialogue_line {
  width: 100%;
}
.lesson_dialogue_editor_status_graphic {
  font-size: 20pt;
  text-align:center;
  vertical-align: bottom;
}
.lesson_dialogue_editor_announcement {
  font-size: 20pt;
  vertical-align: top;
  text-align:center;
}
.lesson_dialogue_editor_label {
  color: #990000;
  font-size: 16pt;
  vertical-align: top;
  text-align:center;
}
.lesson_dialogue_editor_sentence {
  width:100%;
  height: 60px;
  margin:0.5em 0pt;
  background: #FFF;
  font-weight: normal;
  text-align: left;
  font-size: 18pt;
}
.lesson_dialogue_editor_speaker {
  width:100%;
  height: 60px;
  margin:0.5em 0pt;
  background: #FFF;
  font-weight: normal;
  text-align: left;
  font-size: 18pt;
}
.lesson_dialogue_editor_sentence_trans {
  width:100%;
  height: 60px;
  margin:0.5em 0pt;
  background: #FFF;
  font-weight: normal;
  text-align: left;
  font-size: 18pt;
}
.lesson_dialogue_editor_speaker_trans {
  width:100%;
  height: 30px;
  margin:0.5em 0pt;
  background: #FFF;
  font-weight: normal;
  text-align: left;
  font-size: 18pt;
}








.lesson_close {
  float: right;
}



.lesson_title {
  margin-top: 30px;
  font-size: 1.5em;
  display: block;
  text-align:left;
}
.lesson_content {
  margin-bottom:30px;
}













.lesson_question {
  line-height:1.2em;
  margin-bottom:20px;
}
.lesson_question_wholequestion {
  line-height:1.2em;
  margin-bottom:20px;
}
.lesson_question_question {
  min-height: 60px;
  width: 95%;
}
.lesson_question_field {
  width: 80%;
  border-bottom: 1px dotted black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.lesson_question_answer_text {
  font-size: 0.8em;
}
.lesson_question_question_text {
  font-size: 1em;
}







.lesson_teaser {
  padding: 5px;
  margin-top: 18px;
  min-height: 140px;
}
.lesson_teaser_photo {
  width: 144px;
  height: 108px;
  float: right;
  margin-left: 6px;
  margin-bottom: 3px;
  margin-right: 1px;
}
.lesson_teaser_title_container {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}
.lesson_teaser_title_container a {
  text-decoration: none;
}
.lesson_teaser_intro {
  font-size: 0.8em;
}
.lesson_teaser_more {
  font-size: 0.7em;
  margin-top: 10px;
}
.lesson_teaser_user {
  display: inline;
  font-size:1.2em;
  font-weight: bold;
  color: #9c1010;
  text-decoration:none;
}
.lesson_teaser_user a {
  display: inline;
  font-size:1.2em;
  font-weight: bold;
  color: #9c1010;
  text-decoration:none;
}
.lesson_teaser_title {
  display: inline;
  font-size:1.2em;
  font-weight: normal;
  color: #000000;
  text-decoration:none;
}
.lesson_teaser_title a {
  color: #000000;
  text-decoration:none;
}
.lesson_teaser_title a:hover {
  color: #9c1010;
  text-decoration:underline;
}




.lightbox-help {
  font-size:0.6em;
}
.lightbox_left {
  float:left;
  margin-right: 10px;
}
.lightbox_right {
  font-size: 0.8em;
}
.lightbox_close {
  float:right;
}
.lightbox_overlay {
          display: none;
          position: fixed;
          top: 25%;
          left: 25%;
          width: 50%;
          height: 50%;
          background-color: white;
          z-index:1002;
          overflow: auto;
          padding: 10px;
          border:1px solid #990000;
}
.lightbox_backdrop {
          display: none;
          position: fixed;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background-color: black;
          z-index:1001;
          -moz-opacity: 0.8;
          opacity:.80;
          filter: alpha(opacity=80);
}
.lightbox_button {
	display: inline;
}








.login_box {
  border: 1px solid #DDDDDD;
  padding: 30px;
  background: #F7F7F7;
}
.login_box td {
 background: #F7F7F7;
}
.login_email {
  font-size: 1.2em;
  width: 400px;
  border: 1px solid black;
} 












.message {
  width: 500px;
  border: 2px solid #9c1010;
  color: #9c1010;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}








.menu_container {
  border-bottom: 1px solid #DDDDDD;
  height: 21px;
  margin-bottom:15px;
}
.menu_section {
  font-size: 0.9em;
  line-height: 1.1em;
  float: left;
  height:20px;
  vertical-align: middle;
  text-decoration:none;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  background: #F7F7F7;
  padding: 0px 15px 0px 15px;
}
.menu_section_active {
  text-decoration:none;
  font-size: 0.9em;
  line-height: 1.1em;
  float: left;
  vertical-align: middle;
  height:20px;
  color: #9c1010;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  background: #F0F0F0;
  padding: 0px 15px 0px 15px;
}
.menu_section_right {
  font-size: 1em;
  float: right;
  vertical-align: bottom;
  margin-top: 0px;
}
.menu_section_right a {
  text-decoration: none;
  color: #888888;
}
.menu_section_active a {
  text-decoration: none;
  color: #9c1010;
}
.menu_section a {
  text-decoration: none;
  color: #888888;
}




.noleftborder {
  border-left: 0px;
}


.page_container {
  margin-top: 18px;
}
.page_main {

}
.page_side {

}










.paginator {
  margin: 0px auto;
  margin-top: 30px;
  text-align: center;
}
.paginator a {
  text-decoration: none;
  padding:2px 6px;
  margin-right: 7px;
  border: 1px solid #9c1010;
  color: #9c1010;
}




.question_player {
  width: 32px;
}



.selected {
  background-color: #dddddd;
}







.podcast_photo {
  width: 289px;
  padding: 5px;
  background: #DDDDDD;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}
.podcast_player {
  width: 289px;
  padding: 5px;
}






.payment_option {
  color: #9c1010;
  font-weight: bold;
}






.profile {
}
.profile_email {
}
.profile_photo {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.profile_username {
}
.profile_introduction {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}







.rss_feed {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.rss_feed a {
  text-decoration: none;
  color: #000000;

}



.sidebar_container {
}
.sidebar_element {
  min-height: 100px;
  margin-bottom: 15px;
}
.sidebar_element_title {
#  border-bottom: 1px solid #DDDDDD;
#  border-right: 1px solid #DDDDDD;
  height: 19px;
  color: #888888;
  padding: 3px;
  text-align:left;
}
.sidebar_element_content {
  padding: 0px 3px 3px 3px;
  min-height: 40px;
#  border-right: 1px solid #DDDDDD;
  font-size: 0.8em;
}












.subscribe_button_subscribe {
  height: 70px;
  width: 80%;
  text-align: center;
}
.subscribe_button_unsubscribe {
  height: 70px;
  width: 80%;
  text-align: center;
  background-color: red;
}






.test_score {
  font-size: 8em;
  font-weight: bold;
  color: #CCCCCC;
}

















.vocabulary_sentences {
  display: none;
}
.vocabulary_menu {
  margin-bottom: 5px;
  height: 30px;
}
.vocabulary_menu_sort {
  float: right;
  display: inline;
}
.vocabulary_menu_options {
  float: left;
  display: inline;
}




.vocab_editing_field {
  border: 0px;
  width: 100%;
  font-size: 1em;
}
.vocab_field0 {
  width: 0;
  text-align:left;
}
.vocab_field1 {
  width: 20%;
  text-align:left;
}
.vocab_field2 {
  width: 20%;
  text-align:left;
}
.vocab_field3 {
  width: 20%;
  text-align:left;
}
.vocab_field4 {
  width: 20%;
  text-align:left;
}
.vocab_field5 {
  width: 20%;
  text-align:left;
}




.users_login_box {
  border: 2pt solid #DDDDDD;
  width: 570px;
  height: 170px;
  margin-bottom: 18px;
  padding: 10px;
}
.users_login_box_label {
  width: 100px;
}
.users_login_signup {
  color: #9c1010;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 25px;
}
.users_welcome_choice {
  border: 2pt solid #DDDDDD;
  width: 650px;
  height: 40px;
  margin-bottom: 18px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
.users_welcome_choices {
  margin-left:100px;
  width: 100%;
  text-align: center;
}




.user_settings_basic_box{
  border: 1px solid #888888;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: #F7F7F7;
}
.user_settings_subscriber_box{
  border: 1px solid #888888;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: #F7F7F7;
}
.user_settings_subscriber_box table tr td {
  background: #F7F7F7;
}


.white-background {
  background: #FFFFFF;
  padding: 0px;
  margin-right: 10px;
}
.no-border {
  border: 0px solid black;
}
